body {
    background-color: #fff !important;
    color: #000 !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 384px !important;
    max-width: 384px !important;
    /*
    height: 800px !important;
    max-height: 800px !important;
    border: solid thin !important;
    */
}

#main {
    background-color: #fff !important;
    min-height: 800px !important;
}

#littleprinter {
    height: 500px !important;
    max-height: 500px !important;
}